entry {
    border: 1px solid white;
    border-radius: 0;
    padding: 10px 5px;
}

.list {
    margin: 10px;
    border: 1px solid white;
}

.list-item {
    display: block;
    text-align: left;
    padding: 10px 5px;
    border-bottom: 1px solid white;
}
